<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    <!-- .= current piece of data .NameOfField, so we I want the field  Name of the struct = .Name-->
    {{$x := .Name}}
    {{$y := .Motto}}
    <li>{{$x}} -  {{$y}}</li>
</ul>
</body>
</html>