<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Functions</title>
</head>
<body>

<!--It shows everthying, the time with seconds, etc...-->
Without date formatting: {{.}}

<!-- It shows Month, day, year, thanks to the function-->
With date formatting: {{fdateMDY .}}
</body>
</html>