<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comparison Predefined Functions</title>
</head>
<body>
<!-- gt= Greater , So I'm asking if the Score1 > Score2 -->
{{if gt .Score1 .Score2}}
    SCORE 1 > SCORE 2
{{end}}

<!-- lt= Less Than , So I'm asking if the Score1 < Score2 -->
{{if lt .Score1 .Score2}}
    SCORE 1 < SCORE 2
{{end}}

<!-- eq= Equal , So I'm asking if the Score1 = Score2 -->
{{if eq .Score1 .Score2}}
    SCORE 1 = SCORE 2
{{end}}

<!-- lt= Less Than , So I'm asking if the Score1 < 10 -->
{{if lt .Score1 10}}
    LAST ONE: SCORE 1 < 10
{{end}}
</body>
</html>